@page "/"

<div class="container-fluid" style="text-align: center; margin-top: 80px;">

    <h1 style="color: white; border: 1px solid #555; padding: 10px;">
        VEN A PARCHAR EN <span style="color: var(--neon-pink);">MEETZY</span>
    </h1>

    <h4 style="color: var(--neon-cyan); margin-top: 10px;">
        INTERACTUA, VIVE Y SIENTE TUS HOBBIES DE LA MEJOR MANERA 😎⚡
    </h4>

    <div style="margin-top: 40px;">
        <h5 style="color: white;">¿Buscas plan, nuevo hobbie o parche?</h5>

        <p style="color: var(--text-muted);">
            SOMOS PARA POR Y PARA TI <br /> <br />
            Explora los eventos creados por nuestras comunidades y divierte de la manera meetzy👾
        </p>

        <div class="button-wrapper">
            <NavLink href="comunidades" class="btn-outline-modern">
                VER COMUNIDADES
            </NavLink>
        </div>
    </div>
</div>